
body {
  font-family: 'Roboto',sans-serif;
  text-align: center;
  color: white;

  background:
    linear-gradient(
      to bottom,
      transparent 100%,
      rgba(0, 0, 0, 0.5) 100%),
    linear-gradient(
      to bottom,
      #296dd6,
      #d03bdd);
      height: 100vh;

}

h1 {
  color:red;
  margin-top: 0;
  font-size: 3em;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.errors {
  background: #c00;
  color: #fff;
  display: none;
  margin: -20px -20px 20px;
  padding: 20px;
  white-space: pre-wrap;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 34px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 90px;
  color:purple;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

ol {
  font-weight: normal;
  list-style: none;
  padding: 0;
}

li:first-child  {
  font-size: 1.3em;
  border:1px solid white;
  display: inline-block;
  padding: .3em;
  margin-bottom: 1em;
  background: rgba(255, 255, 255, 0.7);
}

li:first-child a{
  color: purple;
}

li  {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}


.game-board{
  display: inline-block;
}
.game-info {
  font-weight: bold;
}

.game-info div  {
  font-size: 1.5em;
  color: lightgreen;
  margin-top: 1em;


}
